*{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    margin:0 auto;
    position: relative;
}

body{
    background:#D1A27A ;
    min-height: 100%;
    display: flex;
    overflow-x: hidden;
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
footer{
   border-top: solid 1px #000;
    text-align: center;
    height: 50px;
    width: 100%;
    background: #7E634B;
    color: white;
    clear: both;
    position: absolute;
    bottom: 0;
}

footer p{
    margin: 18px;
}

.conteudo{
    width: 70%;
    height: auto;
    float: right;
    margin: 50px 70px 100px 50px;

}

#imagem-sobre img{
    width: 70%;
    height: 400px;    
    margin-left: auto;
    margin-right: auto;
}
#post-sobre1{
    margin-left: -300px;
    width: 300px;
    float: left;
    border-right: 1px solid #7E634B;
    margin-right:5px ;
    height: 500px;

}
h2 {
    text-align: center;
}
#post-sobre{
    width: 300px;
    height: 500px;
    margin-bottom: 15px;
}
#post-sobre1 h2{
    margin-left: 10px;
}
#post-sobre2{
    width: 300px;
    float: right;
    border-left:1px solid #7E634B;
    height: 500px;
}
#post-sobre2 h2, p{
    margin-left: 15px;
}

.menu{
    height: 80px;
    width: 100%;
    margin-left: 0px;
    padding-top: 10px;
    background: #7E634B;
}

.menu ul {
    list-style: none;
}
.menu ul li {
    float: left;
    width: 15%;
    height: 60px;
    margin: 10px 0 0 10px;
    text-align: center;
    
}
.menu ul li a{
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}

.menu ul li a:link{
	margin-right:  25px;
	padding-bottom: 3px;
}

.menu ul li a:hover{
	border-bottom: 1px solid #4d9e50;
    color: #4d9e50;
}

/*Index*/
#titulo-conteudo, #aux{
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

/* Fotos */
#galeria {
    width: 100%;
    height: 100%;
}
.chocolates img {
    width: 300px;
    height: 200px;
}
.novela img {
    width: 300px;
    height: 200px;
    justify-content: center;
}
.novela { 
    float: left;
    width: 40%;
    text-align: center;
}
.chocolates {
    float: right;
    width: 40%;
    text-align: center;
}
#galeria h1 {
    text-align: center;
}
/* estilizando a página de contato*/
#contato {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
}
#titulo-contato {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.input-tamanho {
    width: 300px;
    height: 30px;
}
#tamanho-botao{
    background-color:#4d9e50;
    width: 100px;
    height: 25px;
    margin-left: 100px;    
}
